*{
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.comparison{
    background-color: #bee3db;
    padding: 3vh 0vw;
}

.button{
    background-color: #ffd6ba;
    color: #555b6e;
    width: 8vw;
    height: 5vh;
    margin-top: 3vh;
    margin-left: 45vw;
    border-radius: 51px;
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
}