* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* styling for footer wrapper */
#footer {
  display: grid;
  grid-template-areas: 
  'content content content logoholder';
  max-width: 100%;
}

/* styling for content wrapper */
#content {
  grid-area: content;
  background-color: #4b5063;
  color: #b4dfd6;
  font-size: 1.4em;
}

/* styling for logo section */
#logoholder {
  grid-area: logoholder;
  background-color: #4b5063;
}

/* .p{
  margin: 2vh 3vw;
  padding-top: 2vh;
  padding-bottom: 3vh;
  font-size: 1.5em;
} */

/* styling for explore takeout header */
.exploreTakeout {
  margin: 2vh 3vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 1.5em;
}

/* styling for ul container */
.ul {
  background-color: #4b5063; /*b4dfd6; */
  color: #b4dfd6;
  text-align: left;
  margin: 3vh 8vw;
}

/* styling for individual list items */
.li1 {
  margin: 1vh 3vw;
  display: inline-block;
}
.li2 {
  margin: 1vh 14vw;
  display: inline-block;
}
.li3 {
  margin: 1vh 2vw;
  display: inline-block;
}

.li4 {
  margin: 1vh 3vw;
  display: inline-block;
}
.li5 {
  margin: 1vh 13.4vw;
  display: inline-block;
}
.li6 {
  margin: 1vh 4.8vw;
  display: inline-block;
}

/* styling for logo */
#logo {
  margin: 0vh 0vw;
  float: right;
  height: 35vh;
    width: 22vw;
  }

/* styling for link */
.link {
  text-decoration: none;
  color: #b4dfd6;
  font-size: 1.2em;
  text-decoration: double;
}

@media(max-width:768px){
  /* styling for footer wrapper */
  #footer{
    display: grid;
    grid-template-areas: 
    'content content content logoholder';
  }
  
  /* styling for content wrapper */
  #content{
    grid-area: content;
    background-color: #4b5063;
    color:#b4dfd6;
    font-size: 1.1em;
  }
  
  /* styling for logo section */
  #logoholder{
    grid-area: logoholder;
    background-color: #4b5063;
  }
  
  /* .p{
    margin: 2vh 3vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-size: 1.5em;
  } */
  
  /* styling for explore takeout header */
  .exploreTakeout{
    margin: 2vh 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1.5em;
  }
  
  /* styling for ul container */
  .ul{
    background-color: #4b5063;  /*b4dfd6; */
    color:#b4dfd6;
    text-align: left;
    margin: 3vh 2vw;
  }
  
  /* styling for individual list items */
  .li1{
    margin: 1vh 0.5vw;
    display: inline-block;
  }
  .li2{
    margin: 1vh 14.5vw;
    display: inline-block;
  }
  .li3{
    margin: 1vh 0vw;
    display: inline-block;
  }
  
  .li4{
    margin: 1vh 0.5vw;
    display: inline-block;
  }
  .li5{
    margin: 1vh 13.4vw;
    display: inline-block;
  }
  .li6{
    margin: 1vh 4.8vw;
    display: inline-block;
  }
  
  /* styling for link */
  .link{
    text-decoration: none;
    color:#b4dfd6;
    font-size: 1.2em;
    text-decoration: double;
  }
  
  /* styling for logo */
  #logo{
    margin: 0vh 0vw;
    float: right;
    height: 35vh;
    width: 22vw;
  }
}  

@media(max-width:426px){
  /* styling for footer wrapper */
  #footer{
    display: grid;
    grid-template-areas: 
    'content content content logoholder';
  }
  
  /* styling for content wrapper */
  #content{
    grid-area: content;
    background-color: #4b5063;
    color:#b4dfd6;
    font-size: 1.1em;
  }
  
  /* styling for logo section */
  #logoholder{
    grid-area: logoholder;
    background-color: #4b5063;
  }
  
  /* .p{
    margin: 2vh 3vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-size: 1.5em;
  } */
  
  /* styling for explore takeout header */
  .exploreTakeout{
    margin: 2vh 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1.5em;
  }
  
  /* styling for ul container */
  .ul{
    background-color: #4b5063;  /*b4dfd6; */
    color:#b4dfd6;
    text-align: left;
    margin: 3vh 2vw;
    font-size: 1em;
  }
  
  /* styling for individual list items */
  .li1{
    margin: 1vh 1vw;
  }
  .li2{
    margin: 1vh 3vw;
  }
  .li3{
    margin: 1vh 1vw;
  }
  
  .li4{
    margin: 1vh 1vw;
  }
  .li5{
    margin: 1vh 1.7vw;
  }
  .li6{
    margin: 1vh 7.3vw;
  }
  
  /* styling for link */
  .link{
    text-decoration: none;
    color:#b4dfd6;
    font-size: 1em;
    text-decoration: double;
  }
  
  /* styling for logo */
  #logo{
    margin: 0vh 0vw;
    float: right;
    height: 35vh;
    width: 22vw;
  }
}  