*{
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.orderhold{
    text-align: left;
    background-color: #f7fade;
    color: black;
    margin: 3vh 12vw;
    display: grid;
    grid-template-areas:
    'left right';
    border-radius: 21px;
}

.right{
    grid-area: right;
    
}

.photo{
    grid-area: left;
    width: 26vw;
    height: 40vh;
    border-radius: 10px;
}

.words{
    grid-area: words;
    display: flex;
    margin: 2vh 3.5vw;
}

.word1{
    font-weight: bolder;
    margin: 2vh 0vw;
    font-size: 2em;
}

.word2{
    position: relative;
    left: 10%;
    margin: 3vh 5vw;
    padding: 0vh 5vw;
    font-size: 1.5em;
}

.table1{
    margin: 5vh 0vw;
    font-size: 1.5em;
}

.table2{
    margin: 5vh 3.5vw;
    font-size: 1.5em;
}

.toptablecontent{
    padding: 3vh 3.5vw;
}

.data{
    position: relative;
    text-align: right;
    left: 25%;
    padding: 3vh 2vw;
}