*{
    box-sizing: border-box;
}

.displayholder{
    text-align: left;
    background-color: #f7fade;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 74vw;
    height: 100vh;
    margin: 1vh 12vw;
    border-radius: 25px;
}

.image{
    width: 74vw;
    height: 60vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.text1{
    font-weight: bolder;
}

.text1,.text3, .text5{
    margin: 1vh 4vw;
    font-size: 2em;
}

.text2, .text4, .text6{
    position: relative;
    top: 7%;
    text-align: right;
    padding: 0vh 5vw;
    font-size: 2em;
}

.text3, .text4, .text5{color: #555b6e;}
 .text6{color: #89b0ae;}

 .star{
    color: gold;
    margin: 0vh 0.5vw;
    margin-right: 0vw;
    margin-bottom: 0.3vh;
}