*{
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.pizzahut{
    background-color: #bee3db;
    padding: 1vh 0vw;
    
}

.head{
    grid-area: head;
}

.foods{
    grid-area: foods;
    margin: 1vh 11vw;
}

