*{
    box-sizing: border-box;
}

.holder{
    background-color: #f7fade;
    width: 28vw;
    height: 50vh;
    margin: 1vh 1vw;
    border-radius: 19px;
    padding-top: 2vh;
}

.atag{
    text-decoration: none;
    color: black;
}

.image{
    width: 25vw;
    height: 26vh;
    border-radius: 15px;
}

.label1{
    text-align: left;
    padding: 0vh 1vw;
    font-size: 2em;
}

.label2{
    position: relative;
    top: 10%;
    text-align: right;
    padding: 0vh 1vw;
    font-size: 2em;
}

.label3{
    text-align: left;
    padding: 4vh 1vw;
    font-size: 2em;
}

.star{
    color: gold;
    margin: 0vh 0.5vw;
    margin-bottom: 0.3vh;
}