.Green {
    background-color: #7da7a5;
    padding: 20px
}

.Yellow {
    background-color: #f6f9da;
    width: 80%;
    margin: auto;
    padding: 20px;

}

.SmallLine {
    width: 5vw;
    height: 5px;
    background-color: darkslategrey;
    border-radius: 1rem;
    display: inline-flex;
    align-self: center;
}

.LongLine {
    width: 55vw;
    height: 5px;
    background-color: darkslategrey;
    border-radius: 1rem;
    display: inline-flex;
}

.Header h1 {
    display: inline-flex;
}


.Circle1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darkslategrey;
    vertical-align: auto;
    margin: auto;
}

.progress {
    display: inline-flex;
    padding: 30px;
}

.progress img {
    vertical-align: auto;
}