.Green {
    background-color: #7da7a5;
    padding: 20px
}

.Yellow {
    background-color: #f6f9da;
    width: 80%;
    margin: auto;
    padding: 20px;

}

.SmallLine {
    width: 5vw;
    height: 5px;
    background-color: darkslategrey;
    border-radius: 1rem;
    display: inline-flex;
    align-self: center;
}

.LongLine {
    width: 52vw;
    height: 5px;
    background-color: darkslategrey;
    border-radius: 1rem;
    display: inline-flex;
}

.LongLine2 {
    width: 48vw;
    height: 5px;
    background-color: darkslategrey;
    border-radius: 1rem;
    display: inline-flex;
}


.Header h1 {
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text {
    padding-left: 10px;
    padding-right: 10px;
}


.Circle1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darkslategrey;
    vertical-align: auto;
    margin: auto;
}

.Circle2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aliceblue;
    vertical-align: auto;
    margin: auto;
    border-style: dashed;
    border-inline-color: darkslategrey;
}

.progress {
    display: inline-flex;
    padding: 50px;
}

.progress img {
    vertical-align: auto;
}

.footer {
    width:100%;
}

.footer1 {
    padding-top:30px;
    padding-left: 30px;
}

.footer2 {
    display: inline-flex;
    padding:30px;
    width:100%;
}

.link {
    margin-right: 0;
    margin-left: auto;
    color: darkslategrey;
    font-weight: 200;
}